@font-face{
	font-family: 'Helvetica Neue Light';
	src: url('HelveticaNeueLt.ttf');
}
*{
	padding:0px;
	margin:0px;
	font-family: 'Helvetica Neue Light';
}
body {
	position: relative;
  	min-height: 100vh;
	background-color: rgb(232, 234, 238);
}

.cleaner {
	clear:both;
}

ul {
	list-style:none;
}

a {
	text-decoration:none;
	
}

#heder {
	background-color: rgb(0, 153, 204);
	box-shadow: 1px 1px 2px black;
	position: sticky;
	width: 100%;
	top: 0px;
	min-width:1000px;
}

#logo {
	float:left;
}

#logo a img {
	height: 72px;
	width: 72px;
}

#navigacija {
	float: right;
	margin-top: 17px;
}

#navigacija a {
	color: white;
}

#navigacija li {                                     
	margin:10px 15px;
	text-align:right;
	display: block;
	font-size: 18px;
	transition: all .2s ease-in-out;
}

#navigacija li:hover{
	font-size: 20px;
}

#navigacija ul{
	display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
#navigacija .aktivanLink {
	font-weight: bold;
}

#navigacija li:last-child {
	margin-right: 0px;
}

#navigacija a:hover {
	color:rgb(51, 102, 153);
}

#slider {
	width:1000px;
	height:600px;
}

#slider img{
	width:1000px;
	height: 600px;
	position: relative;
	z-index: -2;
}

#sliderTekst {
	width:100%;
	padding: 200px 0px;
	text-align: center;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

#sliderTekst h1{
	color: white;
	font-size: 50px;
	margin-bottom:50px;
}

#sliderTekst p {
	font-style: italic;
	color: #666;
	font-size:30px;
}

.okvir {
	width: 1000px;
	margin: 0 auto;
}

#pretraga {
	background-color:rgb(0, 153, 204);
	padding : 15px;
}

#pretraga ul {
	display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

#pretraga li {
	display: block;
    flex: 0 1 auto;
	list-style-type: none;
}

#pretraga li select, #pretraga li input {
	height: 30px;
	width: 150px;
}

#ponude {
	display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    padding: 0;
}

.ponuda {
	width: 32%;
	display: block;
	box-sizing: content-box;
	border: 1px solid gray;
	border-radius: 5px;
	background-color: white;
}

.ponuda img {
	width: 100%;
}

.ponuda div {
	padding: 10px;
}

.ponuda .red {
	display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
	padding: 0;
}

.dugme {
	border-radius: 5px;
	background-color:rgb(0, 153, 204);
	padding: 7px 10px;
	color: white;
}

.danger {
	background-color: red;
}

.dugme:hover{
	background-color: rgb(51, 102, 153);
}

.danger:hover {
	background-color: rgb(233, 0, 0);
}

.ponuda .red p {
	padding:5px;
}


.mesto{
	width:1000px;
	margin:0 auto;
	margin-top:10px;
	display: flex;
	justify-content: space-around;
}
.pic {
	width:49%;
	margin-left: 10px;
}
.pic img {
	width:100%;
}
.opis{
	width: 49%;
	display: block;
	box-sizing: content-box;
	border: 1px solid lightgray;
	border-radius: 5px;
	float:right;
	text-align:justify;
	padding: 10px;
}
.opis h1{
	margin-bottom: 20px;
}

#galerija {
	text-align: center;
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;	
	display: flex; 
	flex-wrap: wrap; 	
	justify-content: space-around; 
}

#galerija header {
	width: 100%;
}

#galerija h2 {
	font-size: 50px;
	margin-bottom: 30px;
}

#galerija .artikl {
	width: 49%;
	min-height: 300px;
	margin-bottom: 30px;
	background-color: rgb(0, 153, 204);
	font-size: 20px;
	color:white;
}

#galerija .artikl:nth-child(odd) {
	margin-left: 10px;
}

#galerija .artikl figcaption {
	padding:10px 0px;
}

.artikl img{
	width: 100%;
	height: 300px;
}

#futer {
	width:100%;
	background-color: Black;
	color: white;
	margin-top:15px;
	padding: 20px 0px;
	position: absolute;
	bottom: 0;
	min-width:1000px;
}
#futer li a{
	target:blank;
}

#copyright {
	float:left;
	margin-top: 10px;
}

#social-network {
	float:right;
}
#social-network li {
	display: inline;
	margin: 0px 5px;
}

#social-network img{
	width:30px;
	height:30px;
}

.opis{
	background-color:white;
}

table {
	background-color: white;
	margin-top:15px;
	width:100%;
	text-align:justify;
	border:1px solid black;
	border-collapse: collapse;
    border-spacing: 0;
}

td, th {
	padding:15px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

table a {
	color:rgb(0, 153, 204);

}
table a:hover{
	color:rgb(51, 102, 153); 
}

table a:visited {
	color:rgb(0, 153, 204);
}

.dropdown {
	overflow: hidden;
}
.dropdown .dropbtn {
	border: none;
	outline: none;
	color: white;
	background-color: rgb(0, 153, 204);
	margin: 0; 
	font-size: 18px;
}

.dropbtn {
	transition: all .2s ease-in-out;
}

.dropbtn:hover {
	font-size: 20px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(0, 150, 200);
	min-width: 100px;
	box-shadow: 0px 1px 2px black;
	z-index: 1;
}

.dropdown-content a {
	float: none;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.wrapper {
	padding-bottom: 100px;
}

.contact form {
	width: 66%;
	margin: 10px auto;
}

.contact form input{
	width:100%;
	height: 25px;
	border-radius: 5px;
	border-style: solid;
	margin: 5px 0px;
	padding: 0px 5px;
}

.contact form textarea {
	width:100%;
	border-radius: 5px;
	border-style: solid;
	margin: 5px 0px;
	padding: 5px;
}

.contact form label {
	font-size: 18px;
}